.cancelButtonComments{
  background: none;
  color: #606060;
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
  width: 110px;
  height: 36px;
  border:none;
  letter-spacing: 0.007px;
  cursor: pointer;
}