.container-itemVideo{
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  height: 100px;
  margin-bottom: 7px;
}
.container-itemVideo__a{
  width: 100%;
  display: flex;
  /* border: 1px solid blue; */
  text-decoration: none;
}
.itemVideo-a{
  width: 45%;
  display: flex;
  text-decoration: none;
}
.itemVideo-img{
  width: 167.99px;
}
.cont-ItemDescription{
  width: 50%;
  /* padding-right: 10px; */
  /* border: 1px solid red; */
}
.title-Item{
  font-size: 14px;
  font-weight:600;
  color: #030303;
  margin: 0px 0px 4px
}
.channeltitel{
  font-size: 12px;
  color: #606060;
}
.viewsItem{
  font-size: 12px;
  color: #606060;
}
