.sharedContainer{
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-bottom: 20px;
}
.sharedIcon{
  margin-left:15px;
}
.sharedIcon:hover{
  background: rgba(144, 144, 144, 0.192);
  border-radius: 50%;
  width: 37px;
}